
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: black; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: orangered; }

.ui.label {
    margin-bottom: 5px;
}

.ui.label a {
    color: cornflowerblue;
}