<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Main</title>
</head>
<body>
<div th:fragment="content">

    <!--@thymesVar id="pivio" type="io.pivio.view.overview.model.PivioDetail"-->

    <div class="ui two column grid">
        <div class="column">
            <div class="ui  segment">
                <!--GENERAL ===-->
                <div class="ui teal top attached label">General</div>
                <div class="ui  basic ribbon label">Description</div>

                <h1 th:text="${pivio.name +' ('+ pivio.short_name+')'}" class="ui header"></h1>

                <p th:text="${pivio.description}"></p>

                <div class="ui  basic label">
                    <i class="users icon"></i> Owner
                    <div th:text="${pivio.owner}" class="detail"></div>
                </div>

                <div th:if="${pivio.status}" class="ui basic label">
                    <i class="users icon"></i> Status
                    <div class="detail" th:text="${pivio.status}"></div>
                </div>

                <div th:if="${pivio.contact}" class="ui basic label">
                    <i class="users icon"></i> Contact
                    <div th:text="${pivio.contact}" class="detail"></div>
                </div>

                <div th:if="${pivio.vcs}" class="ui basic label">
                    <i class="file text outline icon"></i> Source
                    <div class="detail" th:text="${pivio.vcs}"></div>
                </div>

                <div th:if="${pivio.context}">
                    <div th:if="${pivio.context.belongs_to_bounded_context}" class="ui basic label">
                        <i class="circle thin icon"></i> Context
                        <div class="detail"><a th:text="${pivio.context.belongs_to_bounded_context}"></a></div>
                    </div>

                    <div th:if="${pivio.context.visibility}" class="ui basic label">
                        <i class="circle thin icon"></i> Intended usage:
                        <div class="detail"><a th:text="${pivio.context.visibility}"></a></div>
                    </div>
                </div>


                <div th:each="tag : ${pivio.tags}">
                    <a class="ui tag label" th:text="${tag}"></a>
                </div>

                <p/>

                <p class="ui  basic ribbon label">Links</p>


                <div th:if="${pivio.links}">
                    <p>

                    <div th:each="link : ${pivio.links}" class="ui basic label">
                        <a th:href="${link.value}" th:text="${link.key}"></a>
                    </div>
                    </p>
                </div>

                <div class="ui tiny label ">
                    <i class="upload icon"></i><span th:text="${pivio.lastUpload}"></span> &nbsp;
                    <i class="write icon"></i> <span th:text="${pivio.lastUpdate}"></span>
                </div>

            </div>

            <!--RUNTIME ===-->

            <div th:if="${pivio.runtime}" class="ui segment">
                <div class="ui blue top attached label">Runtime</div>

                <div class="ui basic label"> RAM
                    <div class="detail"><a th:text="${pivio.runtime.ram}"></a></div>
                </div>
                <div class="ui basic label"> CPU
                    <div class="detail"><a th:text="${pivio.runtime.cpu}"></a></div>
                </div>
                <div class="ui basic label"> Disk
                    <div class="detail"><a th:text="${pivio.runtime.disk}"></a></div>
                </div>
                <div class="ui basic label"> Host
                    <div class="detail"><a th:text="${pivio.runtime.host_type}"></a></div>
                </div>

                <!--/app/overview/list?field=network_zone&amp;value={{network_zone}}-->
                <div class="ui basic label"> Network Zone
                    <div class="detail"><a
                            th:href="'/app/overview/list?field=runtime.network_zone&amp;value='+${pivio.runtime.network_zone}"
                            th:text="${pivio.runtime.network_zone}"></a></div>
                </div>

            </div>

        </div>

        <!-- second column -->
        <div class="column">

            <!--SERVICES ===-->

            <div th:if="${pivio.service}" class="ui segment">
                <div class="ui orange top attached label">Service</div>

                <!--<div th:if="${pivio.usedBy}">-->
                    <!--<div class="ui ribbon left basic label"><i class="arrow right icon"></i>Is used by</div>-->
                    <!--<p/>-->

                    <!--<div class="ui basic label" th:each="usedBy : ${pivio.usedBy}"-->
                         <!--th:text="${usedBy.id}"></div>-->
                <!--</div>-->


                <p/>

                <div class="ui ribbon left basic label"><i class="cube icon"></i>Provides</div>

                <p/>

                <div th:each="info : ${pivio.service.provides}" class="ui card">
                    <div class="content">

                        <div class="header" th:text="${info.description}"></div>
                        <div class="meta">
                            <span class="date" th:text="${info.techInfo}"></span>
                        </div>

                        <p/>

                        <div th:each="dns : ${info.public_dns}">
                            Public DNS: <div class="ui label" th:text="${dns}"></div>
                        </div>

                        Used By:

                        <a th:href="'/app/overview/detail/'+${usedBy.id}" class="ui orange label" th:each="usedBy : ${info.usedBy}" th:text="${usedBy.id}"></a>

                    </div>
                    <div class="extra content">
                         <div class="ui tiny label" th:text="${info.service_name}"></div>

                    </div>
                </div>

                <div th:if="${pivio.service.depends_on}">
                    <div class="ui ribbon left basic label"><i class="arrow left icon"></i>Depends on</div>
                    <p/>

                    <h5 class="header">
                        Internal
                    </h5>

                    <div class="ui basic label" th:each="connection : ${pivio.service.depends_on.internal}"
                         th:text="${connection}"></div>

                    <h5 th:if="${not #lists.isEmpty(pivio.service.depends_on.external)}" class="header">
                        Public External
                    </h5>

                    <div th:if="${pivio.service.depends_on}" class="ui card"
                         th:each="connection : ${pivio.service.depends_on.external}">
                        <div class="content">
                            <div class="header" th:text="${connection.target}"></div>
                            <div class="meta" th:text="${connection.via}"></div>
                            <p th:text="${connection.why}"></p>

                            <div class="ui basic label" th:text="${connection.transport_protocol}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Software Dependencies -->

            <div th:if="${pivio.software_dependencies}" class="ui segment">
                <div class="ui red top attached label">Software Dependencies</div>
                <div class="ui ribbon left basic label">In Use</div>
                <ul class="ui list" th:each="dep : ${pivio.sortedDependencies}">
                    <li><a th:href="'/app/overview/list?field=software_dependencies.name&amp;value='+${dep.name}"
                           th:text="${dep.name +' : '+ dep.version+' '}"></a>
                    </li>
                </ul>

                <p/>

                <div class="ui ribbon left basic label">Licenses</div>
                <ul class="ui list" th:each="license : ${pivio.consolidatedLicenses}">
                    <li>
                        <a th:href="'/app/overview/list?field=software_dependencies.licenses.name&amp;value='+${license}"
                           th:text="${license}"></a>
                    </li>

                </ul>


            </div>

        </div>
    </div>
</div>
</body>
</html>