<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Main</title>
</head>
<body>
<div th:fragment="content">

    <script id="detail-template" type="text/x-handlebars-template">

        <div class="ui two column grid">
            <div class="column">
                <div class="ui  segment">
                    <!--GENERAL ===-->
                    <div class="ui teal top attached label">General</div>
                    <div class="ui  basic ribbon label">Description</div>

                    <h1 class="ui header">{{name}}</h1>

                    <p>{{description}}</p>

                    <p>

                    <div class="ui  basic label">
                        <i class="users icon"></i> Team
                        <div class="detail"><a href="/app/overview/list?field=team&amp;value={{team}}">{{team}}</a></div>
                    </div>

                    {{#if status}}
                    <div class="ui  basic label">
                        <i class="users icon"></i> Status
                        <div class="detail"><i class="star icon yellow"></i>{{status}}</div>
                    </div>
                    {{/if}}

                    {{#if contact}}
                    <div class="ui  basic label">
                        <i class="users icon"></i> Contact
                        <div class="detail">{{contact}}</div>
                    </div>
                    {{/if}}

                    {{#if bounded_context}}
                    <div class="ui  basic label">
                        <i class="circle thin icon"></i> Context
                        <div class="detail"><a href="/app/overview/list?field=belongs_to_bounded_context&amp;value={{bounded_context}}">{{bounded_context}}</a></div>
                    </div>
                    {{/if}}

                    {{#if vcs}}
                    <div class="ui  basic label ctrx-label">
                        <i class="file text outline icon"></i> Source
                        <div class="detail">{{vcs}}</div>
                    </div>
                    {{/if}}

                    </p>

                    {{#if tags}}
                        {{#each tags}}
                            <a class="ui tag label" href="/app/overview/list?field=tags&amp;value={{this}}">{{this}}</a>
                        {{/each}}

                    {{/if}}

                    <p/>

                    {{#if links}}
                    <div class="ui basic ribbon label"><i class="browser icon"></i>Links</div>

                    <p>
                        {{#eachInMap links}}

                    <div class="ui basic label"><a href="{{value}}">{{key}}</a></div>
                    {{/eachInMap}}
                    {{/if}}
                    </p>
                </div>

                <!--RUNTIME ===-->

                {{#if runtime}}
                <div class="ui segment">
                    <a class="ui blue top attached label">Service Specs</a>

                    <p></p>

                    <div class="ui label basic">
                        RAM
                        <div class="detail">{{runtime.ram}}</div>
                    </div>

                    <div class="ui label basic">
                        CPU
                        <div class="detail">{{runtime.cpu}}</div>
                    </div>

                    <div class="ui label basic">
                        Disk
                        <div class="detail">{{runtime.disk}}</div>
                    </div>

                </div>
                {{/if}}


            </div>

            <!--NETWORK === -->

            <div class="column">
                {{#if provides}}
                <div class="ui segment">
                    <div class="ui yellow top attached label">Network</div>

                    <!-- Incoming Network -->
                    <div class="ui ribbon left basic label"><i class="arrow right icon"></i>Incoming Network</div>

                    <p>
                        {{#each network_incoming}}

                    <div class="ui basic label ctrx-label">
                        {{this.servicename}}
                        <div class="detail">{{this.port}}</div>
                    </div>
                    {{/each}}
                    </p>


                    <!-- Provides -->
                    {{#if provides}}
                    <div class="ui ribbon left basic label"><i class="cube icon"></i>Provides</div>
                    <p>
                        {{#each provides}}

                    <div class="ui basic label">{{this.servicename}}
                        <div class="detail">{{this.port}} {{this.defaultport}}</div>
                    </div>
                    {{/each}}
                    </p>
                    {{/if}}


                    <!-- Outgoing Network -->
                    <div class="ui ribbon left basic label"><i class="arrow left icon"></i>Outgoing Network</div>
                    <p>
                        {{#each network_outgoing}}

                    <div class="ui basic label">
                    <a href="/app/overview/detail/{{id}}">{{this.service}}</a>

                        <div class="detail">{{this.port}}</div>
                    </div>
                    {{/each}}
                    </p>


                    <!-- Network Zone -->
                    {{#if network_zone}}
                    <div class="ui ribbon basic left  label"><i class="cubes icon"></i>Network Zone</div>

                    <p></p>

                    <div class="ui label basic">
                        <a href="/app/overview/list?field=network_zone&amp;value={{network_zone}}">{{network_zone}}</a>
                    </div>
                    {{/if}}

                </div>
                {{/if}}

                <!--SOFTWARE DEPENDENCIES ===-->
                <div class="ui segment">

                    <!-- Software dependencies -->
                    <a class="ui top attached red label">Software</a>

                    <p>

                    <div class="ui  ribbon left basic label">Dependencies ({{software_dependencies.length}})</div>
                    <ol class="ui list">
                        {{#each software_dependencies}}
                        <li value="-"><a href="/app/overview/list?field=dependencies.name&amp;value={{this.name}}">{{this.name}}</a>, {{this.version}}</li>
                        {{/each}}
                    </ol>

                    </p>

                    <!-- Licenses -->

                    <div class="ui ribbon left basic label">Used Licenses ({{software_licenses.length}})</div>
                    <p>
                    <ol class="ui list">
                        {{#each software_licenses}}

                        <li value="-"><a href="/app/overview/list?field=dependencies.licenses.name&amp;value={{this}}">{{this}}</a></li>
                        {{/each}}
                    </ol>
                    </p>
                </div>
            </div>
        </div>
    </script>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var pivioDocumentId = /*[[${pivioDocumentId}]]*/ '';
        /*]]>*/
    </script>

    <script src="/js/detail.js"></script>


    <div id="overview-detail"></div>

</div>
</body>
</html>