<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Feed</title>
</head>
<body>
<div th:fragment="content">

    <div th:each="feeditem: ${changeset}" class="ui card" style="width: 100%">
        <div class="content" style="width: 100%">
            <!--@thymesVar id="feeditem" type="io.pivio.view.feed.model.FeedItem"-->
            <div class="ui blue header" th:text="${feeditem.document}"></div>
            <div class="meta">
                <span class="right floated time" th:text="${feeditem.getPrettyDate()}"></span>
            </div>

            <div class="content description" th:each="field: ${feeditem.fields}">
                <div>
                    <i th:class="${field.getColoredIcon() + ' ui icon'}"></i>
                    <span class="ui grey label" th:text="${field.path}"></span> =
                    <span th:text="${field.value}">???</span>

                </div>
            </div>
        </div>

    </div>


</div>
</body>
</html>