<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Feed</title>
</head>
<body>
<div th:fragment="content">

    <div th:each="feeditem: ${changeset}" class="ui card" style="width: 100%">
        <div class="content" style="width: 100%">
            <!--@thymesVar id="feeditem" type="io.pivio.view.feed.model.FeedItem"-->
            <div class="ui blue header" th:text="${feeditem.document}"></div>
            <div class="meta">
                <span class="right floated time" th:text="${feeditem.getPrettyDate()}"></span>
            </div>

            <div class="content description" th:each="field: ${feeditem.fields}">
                <div class="ui grey tiny label" th:text="${field.field}"></div>
                <p/>
                <b>From: </b>

                <p><s th:text="${field.previous}">???</s></p>
                <b>To: </b>

                <p th:text="${field.current}">???</p>
                <div class="ui clearing divider"></div>
            </div>
        </div>

    </div>


</div>
</body>
</html>