<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Feed</title>
</head>
<body>
<div th:fragment="content">


    <table class="ui definition table">
        <tbody>
        <!--@thymesVar id="change" type="io.pivio.view.feed.FeedEntry"-->
        <!--@thymesVar id="changeset" type="java.util.List"-->
        <tr th:each="change: ${changeset}" class="ui top aligned">
            <td th:text="${change.id}">&nbsp;</td>
            <td th:text="${change.timestamp}">&nbsp;</td>
            <td>

                <table class="ui table">
                    <tbody>
                    <tr th:each="field: ${change.fields}">
                        <td th:text="${field.field}" data="field"></td>
                        <td th:text="${field.previous}" data="prev"></td>
                        <td th:text="${field.current}" data="current"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>