<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="page">
<head>
    <title>Pivio View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/webjars/Semantic-UI/2.1.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pivio.css"/>
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/handlebars/4.0.2/handlebars.min.js"></script>
    <script src="/webjars/Semantic-UI/2.1.8/semantic.min.js"></script>
</head>
<body>

<div class="ui container">
    <div id="main_menu" class="ui pointing   menu">
        <div class="item">
            <div class="ui animated  button" tabindex="0">
                <div class="visible content">pivio</div>
                <div class="hidden content">
                    <i class="heart icon"></i>
                </div>
            </div>
        </div>

        <a class="blue item " th:each="page: ${config.pages}" th:id="${page.id}" th:href="${page.url}"
           th:text="${page.description}">&nbsp;</a>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var pageId = /*[[${pageId}]]*/ '';
            var apiserver = /*[[${config.apiAddress}]]*/ '';
            /*]]>*/
            $("#" + pageId).addClass("active");
        </script>

    </div>
    <div class="ui segment" th:include="this :: content">

    </div>
</div>

</body>
</html>