<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Main</title>
</head>
<body>
<div th:fragment="content">

    <script id="card" type="text/x-handlebars-template">
        {{#each this}}
        <a class="ui blue card" data-meta="{{meta}}" href="/app/overview/detail/{{id}}">
            <div class="content">
                {{#if servicename}}
                <div class="right floated mini ui ">{{servicename}}</div>
                {{/if}}
                <div class="header">
                    {{name}}
                </div>
                <div class="meta">
                    {{team}}
                </div>
                <div class="description">
                    {{description}}
                </div>
            </div>

            <div class="extra content">
            <span class="right floated">
                {{#if bounded_context}}
             <i class="circle thin icon "></i>{{bounded_context}}
                {{/if}}
             {{context}}
            </span>
                {{#if lastchange}}
            <span>
                <i class="calendar outline icon"></i>
                Yesterday 2:14pm
            </span>
                {{/if}}
            </div>
        </a>
        {{/each}}
    </script>

    <script src="/js/overview.js"></script>

    <div class="ui container centered">
        <div class="ui icon input">
            <input id="searchbox" type="text" size="30" autofocus="autofocus" placeholder="Quick Search..."/>
            <i class="search icon"></i>
        </div>
    </div>
    <h4 class="ui horizontal divider header">
        Matching Artefacts
    </h4>

    <div id="cards" class="ui cards container centered grey">

    </div>

</div>
</body>
</html>